.viewer {
    @include break(small) {
        padding-bottom: 2rem;
    }
}

.markdown-body {
    h1,
    h2,
    h3,
    h4,
    h6,
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}

