.editor {
    line-height: $base-line-height;

    max-width: 40rem;
    margin: auto;

    cursor: text;
}

/**
 * @providesModule DraftEditorPlaceholder
 */

.public-DraftEditorPlaceholder-root {
    position: absolute;
    z-index: 0;

    color: var(fbui-desktop-text-placeholder);
}

.public-DraftEditorPlaceholder-hasFocus {
    color: var(fbui-desktop-text-placeholder-focused);
}

.DraftEditorPlaceholder-hidden {
    display: none;
}

.DraftEditor-root {
    max-width: 40rem;
    margin: auto;
}
